/* * {
  margin: 0;
  padding: 0;
} */
.main {
  border: 5px solid rgba(161, 35, 64, 0.358);
  border-radius: 15px;
  width: 800px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: chocolate;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: rgb(240, 160, 160);
}

h2 {
  font-size: 25px;
  color: burlywood;
}

li {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
body {
  background-color: beige;
  /* display: grid; */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  /* margin: 0;
  padding: 0; */
  position: relative;
}

.order {
  list-style: none;
  margin: 10px;
  display: inline-block;
}

/* pre {
  color: #444444;
  font-style: italic;
} */

.pre-story {
  color: #000000;
  font-style: italic;
}
.hh {
  color: #444444;
  font-weight: 400px;
  margin: 0;
}

.aside {
  color: #da1369f0;
  /* border-top: dotted;
  border-bottom: solid; */
  padding: 10px;
  /* margin: 10px;
  display: inline-block; */
}

header {
  border-bottom: dotted cyan;
}

a {
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.5s ease;
  margin: 5px;
  display: inline-block;
}

a:hover {
  border-color: orangered;
  border-radius: 5px;
}
li:nth-child(even) {
  font-weight: bold;
}
.ofiweb {
  color: cyan;
}
.test {
  color: pink;
  font-weight: bold;
}

button {
  margin-top: 50px;
  align-items: center;
  width: 200px;
  height: 25px;
  color: white;
  background-color: black;
  border-radius: 15px;
  display: block;
  margin: auto;
  border: none;
  transition: 0.5s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  cursor: pointer;
}

article {
  margin-bottom: 20px;
}
button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

footer {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 150px;
}

.mizore {
  width: 200px;
  height: auto;
}

/* 选择器冲突问题 */
/* #class {
  color: cyan;
}

.id {
  color: orange;
}

.title {
  color: blue;
}

h2 {
  color: red !important;
} */
/* 最高权重，慎用 */

.mizore-cha {
  width: 300px;
  height: auto;
}

.mizore-intro {
  font-style: italic;
  color: rgba(0, 0, 0, 0.546);
}
